apps/octo/library/cutest/cutest_list.dtd

<!ELEMENT CUTEST_LIST_REPORT
  (CUTEST_HEADER, CUTEST_LIST_SUMMARY, CUTEST_LIST_ALL_TEST_LIST*, CUTEST_FOOTER)>

<!ELEMENT CUTEST_HEADER EMPTY>

<!ELEMENT CUTEST_LIST_SUMMARY (CUTEST_LIST_SUMMARY_RECORD*)>
  <!ELEMENT CUTEST_LIST_SUMMARY_RECORD
    (CUTEST_LIST_SUMMARY_RECORD_TEXT, CUTEST_LIST_SUMMARY_RECORD_VALUE)>
    <!ELEMENT CUTEST_LIST_SUMMARY_RECORD_TEXT (#PCDATA)>
    <!ELEMENT CUTEST_LIST_SUMMARY_RECORD_VALUE (#PCDATA)>

  <!ELEMENT CUTEST_LIST_TEST_CASE_DEFINITION (CUTEST_LIST_TEST_CASE_NAME?, CUTEST_LIST_TEST_ACTIVE_VALUE?, CUTEST_LIST_TEST_DESCRIPTION?)>
    <!ELEMENT CUTEST_LIST_TEST_CASE_NAME (#PCDATA)>
    <!ELEMENT CUTEST_LIST_TEST_ACTIVE_VALUE (#PCDATA)>
    <!ELEMENT CUTEST_LIST_TEST_DESCRIPTION (#PCDATA)>    

<!ELEMENT CUTEST_FOOTER (#PCDATA)>
